In [1]:
import pandas as pd

In [8]:
echo = pd.read_csv('echoorder.csv', header=0)
echo

       Module3ID  vol      Module4ID  vol
0   pEPSW1KN0115   NaN  pEPSW1KN0119  NaN
1   pEPSW1KN0116   NaN  pEPSW1KN0119  NaN
2   pEPSW1KN0117   NaN  pEPSW1KN0119  NaN
3   pEPSW1KN0118   NaN  pEPSW1KN0120  NaN
4   pEPSW1KN0125   NaN  pEPSW1KN0120  NaN
..           ...   ...           ...  ...
91  pEPSW1KN0228   NaN  pEPSW1KN0232  NaN
92  pEPSW1KN0228   NaN  pEPSW1KN0233  NaN
93  pEPSW1KN0228   NaN  pEPSW1KN0234  NaN
94  pEPSW1KN0235   NaN  pEPSW1KN0234  NaN
95  pEPSW1KN0236   NaN  pEPSW1KN0234  NaN

[96 rows x 4 columns]

In [7]:
guides_map = pd.read_csv('lvl1guides.csv', header=0)
guides_map.rename(columns={'DNA stock to add to reaction (nL) echo': 'Vol_nL'}, inplace=True)
guides_map

          Plasmid      Vol_nL
0    pEPSW1KN0115  248.742786
1    pEPSW1KN0116  248.312575
2    pEPSW1KN0117  299.569141
3    pEPSW1KN0118  259.400481
4    pEPSW1KN0119  257.407300
..            ...         ...
117  pEPSW1KN0232  187.456389
118  pEPSW1KN0233  536.000000
119  pEPSW1KN0234  230.549811
120  pEPSW1KN0235  184.016822
121  pEPSW1KN0236  196.645427

[122 rows x 2 columns]

In [15]:
merged = pd.merge(echo,guides_map,how='left',left_on='Module3ID', right_on='Plasmid')
merged = merged[['Module3ID','Vol_nL','Module4ID',]]
merged = pd.merge(merged,guides_map,how='left',left_on='Module4ID', right_on='Plasmid')
merged = merged[['Module3ID','Vol_nL_x','Module4ID','Vol_nL_y']]
merged.to_csv('merged.csv',header=1, index=False)